doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p= message
    p= 'Movie id: ' + idMovie
    p= 'review: ' + review
    p= 'rating: ' + rating
    P= 'user: ' + idUser
  